<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Peralta&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <style>
        p{
            font-family: 'GFS Didot', serif;
            font-size: large;
    }
    h2{
        font-family: 'Peralta', serif;
    }




    img {
        width: 400px; /* You can set the dimensions to whatever you want */
        height: 200px;
        object-fit: cover;
    }


    </style>
        

    <title>Anime blog</title>
  </head>
    <body>
    <header>
  
      <div class=" shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex ">
            <strong>Animelist</strong>
          </a>
        </div>
      </div>
    </header>
    
    <main>
    
      <section class="py-5 text-center container">
        <div class="row py-lg-5 ">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light text-danger">Favourite animes</h1>
            <p class="lead text-body-secondary font-weight-bold">Ranking my favourite animes from 1-10, you can add your favourites, edit and delete posts.</p>
          </div>
        </div>
      </section>
    











    </div>

      <div class="album py-5">
    
          <div class=" col ">
            <div class="col">
              <div class="card shadow-sm">
                <h2>1: Full metal alchemist brotherhood </h2>
                <img src="/Users/saylmane/Desktop/capstone2/public/images/ed.jpeg" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                  <p class="card-text">Abandoned by their father as kids, two young brothers, Edward and Alphonse Elric lived with their mother in a small town called Resembool. After losing their mother to a terminal illness, they try to resurrect her using alchemy - a science which allows you to transform physical matter from one form to another.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>





            <div class="col">
              <div class="card shadow-sm">
                <h2>2: Attack on titan </h2>
                <img src="/Users/saylmane/Desktop/capstone2/public/images/attackontitan.jpeg" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                  <p class="card-text"> After his hometown is destroyed and is traumatized, young Eren Jaeger vows to cleanse the earth of the giant humanoid Titans that have brought humanity to the brink of extinction. Humans are nearly exterminated by giant creatures called Titans.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>  
                  </div>
                </div>
              </div>
            </div>






            <div class="col">
              <div class="card shadow-sm">
                <h2>3: Monster </h2>
                <img src="/Users/saylmane/Desktop/capstone2/public/images/monster.jpeg" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                  <p class="card-text"> A smart, likeable, 17-year-old film student from Harlem sees his world turned upside down when he's charged with a murder. We follow his dramatic journey through a complex legal battle. "Monster" is based off the story by Walter Dean Myers.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    



            <div class="col">
              <div class="card shadow-sm">
                <h2>4: Tower of god </h2>
                <img src="/Users/saylmane/Desktop/capstone2/public/images/tog.jpeg" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                  <p class="card-text">Tower of God centers around a boy named Twenty-Fifth Bam. It is notable that in Korea 'Bam' can mean 'Night' or 'Chestnut'. He has spent most of his life trapped beneath a vast and mysterious Tower, with only his close friend, Rachel, to keep him company. When Rachel enters the Tower, Bam is devastated.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>





            <div class="col">
              <div class="card shadow-sm">
                <h2>5: Naruto </h2>
                <img src="/Users/saylmane/Desktop/capstone2/public/images/naruto.jpeg" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                  <p class="card-text">Naruto is a Japanese manga series written and illustrated by Masashi Kishimoto. It tells the story of Naruto Uzumaki, a young ninja who seeks recognition from his peers and dreams of becoming the Hokage, the leader of his village.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>





            <div class="col">
              <div class="card shadow-sm">
                <h2>6: Death note </h2>
                <img src="/Users/saylmane/Desktop/capstone2/public/images/deathnote.jpeg" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                  <p class="card-text">The story follows Light Yagami, a genius high school student who discovers a mysterious notebook: the "Death Note", which belonged to the shinigami Ryuk, and grants the user the supernatural ability to kill anyone whose name is written in its pages.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    




            <div class="col">
              <div class="card shadow-sm">
                <h2>7: Re zero </h2>
                <img src="/Users/saylmane/Desktop/capstone2/public/images/rezero.jpeg" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                  <p class="card-text">Re:Zero tells the story of a fairly average teenager, Subaru Natsuki. One day Subaru is magically transported from his local convenience store to a fantasy world. There's no one in sight to inform him why he's been brought there.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>




            <div class="col">
              <div class="card shadow-sm">
                <h2>8: Mukoshou no tensei </h2>
                <img src="/Users/saylmane/Desktop/capstone2/public/images/mukoshou.jpeg" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                  <p class="card-text">It follows jobless and hopeless man who dies after having a sad and reclusive life and reincarnates in a fantasy world while keeping his memories, determined to enjoy his new life without regrets under the name Rudeus Greyrat. The first season of the anime series adapts the first six volumes of the light novels.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>




            <div class="col">
              <div class="card shadow-sm">
                <h2>9: That time i got reaincarnated as a slime </h2>
                <img src="/Users/saylmane/Desktop/capstone2/public/images/slime.jpeg" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                  <p class="card-text">Lonely thirty-seven-year-old Mikami Satoru is stuck in a dead-end job, unhappy with his mundane life, but after dying at the hands of a robber, he awakens to a fresh start in a fantasy realm...as a slime monster.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>




            <div class="col">
                <div class="card shadow-sm">
                    <h2>10: Samurai champloo </h2>
                    <img src="/Users/saylmane/Desktop/capstone2/public/images/samurai.jpeg" class="img-fluid" alt="Responsive image">
                  <div class="card-body">
                    <p class="card-text">
                        Samurai Champloo tells the story of three strangers in the Tokugawa era (also known as the Edo Period) who come together on a journey across Japan. A young woman named Fuu is working as a waitress in a tea shop when she is harassed by a band of samurai. She is saved by Mugen, a mysterious rogue, and Jin, a young ronin.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    
    </main>
    
    <footer class="text-body-secondary py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Anime blog, made with ❤️ </p>
    </footer>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    </body>
</html>